<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

	<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

	<title>Frontend Mentor | Interactive card details form</title>

	<link rel="stylesheet" href="./static/globle.css">
	<link rel="stylesheet" href="./static/layout.css">
	<link rel="stylesheet" href="./static/utility.css">
	<link rel="stylesheet" href="./static/style.css">
	<link rel="stylesheet" href="./static/states.css">
</head>
<body>

	<div class="layout">
		<main class="main">
			<section class="form-section" id="app">
				<div class="cards">
					<div class="card-front-waraper">
						<div class="card-front">
	
							<div class="card-front-content flex-box flex-column flex-spaced">
								<img src="./images/card-logo.svg" class="card-front-logo" alt="">
								
								<div>
									<p class="card-number"> {{ cardNumberS }} </p>
									
									<div class="card-holder-name flex-box flex-row flex-spaced">
										<p>{{ holderName }}</p>
										<p>{{ monthS }}/{{ yearS }} </p>
									</div>
								</div> 

							</div>
	
							<img src="./images/bg-card-front.png" class="card-img" alt="">
						</div>
					</div>
					
					<div class="card-back-waraper">
						<div class="card-back">
							<p>{{ cvcNum }}</p>
							<img src="./images/bg-card-back.png" class="card-img" alt=""> 
						</div>
					</div>
					<picture class="side-img">
						<source media="(min-width: 69.375em)" srcset="./images/bg-main-desktop.png">
						<img src="./images/bg-main-mobile.png" class="side-img" alt="">
					</picture>
				</div>

				<div class="form">
					<form action="#" class="form-form" v-on:submit="onFSubmite">
						<div class="card-holder fields-wraper" v-bind:data-error="holderNameError">
							<label for="for-card-holder" class="field-label-gap">
								<p>Cardholder Name</p>
								<div class="ffinput-div">
									<input type="text" placeholder="e.g. Jane Appleseed" id="for-card-holder" 
									class="ffinput"  aria-describedby="card-holder-error" aria-invalid="false"
									v-model="holderName">
									<span class="ffinput-aa"></span><span class="ffinput-ab"></span><span class="ffinput-ac"></span>
								</div>
							</label>
							<p class="error" id="card-holder-error" aria-live="polite">{{ holderNameErrorMsgD }}</p>
						</div>

						<div class="Card-Number fields-wraper" v-bind:data-error="cardNumberError">
							<label for="for-Card-Number" class="field-label-gap">
								<p>Card Number</p>
								<div class="ffinput-div">
									<input type="text" id="for-Card-Number" class="ffinput" 
									placeholder="e.g. 1234 5678 9123 0000" aria-describedby="Card-Number-error"
									v-model="cardNumber">
									<!-- v-on:input="cardNumberInput"> -->
									<span class="ffinput-aa"></span><span class="ffinput-ab"></span><span class="ffinput-ac"></span>
								</div>
							</label>
							<p class="error" id="Card-Number-error">{{ cardNumberErrorMsgD }}</p>
						</div>

						<div class="mm-yy-cvc">
							<div class="mm-yy-sec fields-wraper" v-bind:data-error="monthYearError">
								<p>Exp. Date (MM/YY)</p>
								<div class="mm-yy-fields">
									<label for="t-mm" >
										<div class="ffinput-div">
											<input type="number" class="ffinput" id="t-mm" placeholder="MM" aria-describedby="MM-YY-error" v-model="month">
											<span class="ffinput-aa"></span><span class="ffinput-ab"></span><span class="ffinput-ac"></span>
										</div>
									</label>
									<label for="t-yy" >
										<div class="ffinput-div">
											<input type="number" class="ffinput" id="t-yy" placeholder="YY" aria-describedby="MM-YY-error" v-model="year">
											<span class="ffinput-aa"></span><span class="ffinput-ab"></span><span class="ffinput-ac"></span>
										</div>
									</label>

								</div>
								<p class="error" id="MM-YY-error">{{ monthYearErrorMsgD }}</p>
							</div>

							<div class="CVC fields-wraper" data-error="false">
								<label for="for-CVC" >
									<p>CVC</p>
									<div class="ffinput-div">
										<input type="number" id="for-CVC" class="ffinput" placeholder="e.g. 123" aria-describedby="CVC-error"
										v-model="cvcNum">
										<span class="ffinput-aa"></span><span class="ffinput-ab"></span><span class="ffinput-ac"></span>
									</div>
								</label>
								<p class="error" id="CVC-error">This is error</p>
							</div>

						</div>

						<button type="submit" class="sub-btn">Confirm</button>
					</form>
					<!-- <div class="success-message">
						<img src="./images/icon-complete.svg" class="suces-icon" alt="">
						<p class="suces-msg-prim">Thank you!</p>
						<p class="suces-msg-sec">We've added your card details</p>
						<button class="cont-btn">Continue</button>
					</div> -->
				</div>
			</section>
		</main>
		<!-- <footer class="footer"></footer> -->
	</div>

	<!-- 0000 0000 0000 0000
	Jane Appleseed
	00/00

	000

	Cardholder Name
	e.g. Jane Appleseed

	Card Number
	e.g. 1234 5678 9123 0000

	Exp. Date (MM/YY)
	MM
	YY

	CVC
	e.g. 123

	Confirm

	Completed state start 

	Thank you!
	We've added your card details
	Continue

	<div class="attribution">
	Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
	Coded by <a href="#">Your Name Here</a>.
	</div> -->
	<script type="module" src="./static/Vueapp/app.js"></script>
</body>
</html>

