<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

	<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

	<title>Frontend Mentor | Interactive card details form</title>

	<link rel="stylesheet" href="./static/globle.css">
	<link rel="stylesheet" href="./static/layout.css">
	<link rel="stylesheet" href="./static/utility.css">
	<link rel="stylesheet" href="./static/style.css">
	<link rel="stylesheet" href="./static/states.css">
</head>
<body>

	<div class="layout">
		<main class="main">
			<section class="form-section" id="app">
				<div class="cards">
					<div class="card-front-waraper">
						<div class="card-front">
	
							<div class="card-front-content flex-box flex-column flex-spaced">
								<img src="./images/card-logo.svg" class="card-front-logo" alt="">
								
								<div>
									<p class="card-number"> {{ cardNumber.inputTextS }} </p>
									
									<div class="card-holder-name flex-box flex-row flex-spaced">
										<p>{{ holderName.inputTextS }}</p>
										<p>{{ date.month.inputTextS }}/{{ date.year.inputTextS }} </p>
									</div>
								</div> 

							</div>
	
							<img src="./images/bg-card-front.png" class="card-img" alt="">
						</div>
					</div>
					
					<div class="card-back-waraper">
						<div class="card-back">
							<p>{{ cvcNum.inputTextS }}</p>
							<img src="./images/bg-card-back.png" class="card-img" alt=""> 
						</div>
					</div>
					<picture class="side-img">
						<source media="(min-width: 69.375em)" srcset="./images/bg-main-desktop.png">
						<img src="./images/bg-main-mobile.png" class="side-img" alt="">
					</picture>
				</div>

				<div class="form" tabindex="0" ref="form_fields">
					<p id="alive" class="sr-only" aria-live="polite" role="status" aria-relevant="all">{{ AliveMsg }}</p>
					<form action="#" class="form-form" v-if="successMessage == false" v-on:submit="onFSubmite">
						<div class="card-holder fields-wraper" v-bind:data-error="holderName.inputError">
							<label for="for-card-holder" class="input-label field-label-gap">
								<p>Cardholder Name</p>
								<div class="ffinput-div">
									<input type="text" placeholder="e.g. Jane Appleseed" id="for-card-holder" 
									class="ffinput"  aria-describedby="card-holder-error" v-bind:aria-invalid="holderName.inputError"
									v-bind:ref="holderName.reef" v-model="holderName.inputText">
									<span class="ffinput-aa"></span><span class="ffinput-ab"></span><span class="ffinput-ac"></span>
								</div>
							</label>
							<p class="error" id="card-holder-error" >{{ holderName.inputErrorMsgD }}</p>
						</div>

						<div class="Card-Number fields-wraper" v-bind:data-error="cardNumber.inputError">
							<label for="for-Card-Number" class="input-label field-label-gap">
								<p>Card Number</p>
								<div class="ffinput-div">
									<!-- placeholder="e.g. 1234 5678 9123 0000" aria-invalid="false" -->
									<input type="text"  id="for-Card-Number" placeholder="e.g. 1234 5678 9123 0000"
									class="ffinput"  aria-describedby="Card-Number-error" v-bind:aria-invalid="cardNumber.inputError"
									v-bind:ref="cardNumber.reef" v-model="cardNumber.inputText">
									<!-- v-on:input="cardNumberInput"> -->
									<span class="ffinput-aa"></span><span class="ffinput-ab"></span><span class="ffinput-ac"></span>
								</div>
							</label>
							<p class="error" id="Card-Number-error" >{{ cardNumber.inputErrorMsgD }}</p>
						</div>

						<div class="mm-yy-cvc">
							<div class="mm-yy-sec input-label  fields-time-wraper" v-bind:data-error="dateError">
								<p>Exp. Date (MM/YY)</p>
								<div class="mm-yy-fields">
									<label for="t-mm" class="warning" v-bind:data-error="date.month.inputError">
										<div class="ffinput-div">
											<input type="number" class="ffinput" id="t-mm" placeholder="MM" aria-describedby="MM-YY-error"  
											aria-label="Month" v-bind:aria-invalid="date.month.inputError" v-bind:ref="date.month.reef" 
											v-on:focus="date.focused = date.month.reef" v-model="date.month.inputText">
											<span class="ffinput-aa"></span><span class="ffinput-ab"></span><span class="ffinput-ac"></span>
										</div>
									</label>
									<label for="t-yy" class="warning" v-bind:data-error="date.year.inputError">
										<div class="ffinput-div">
											<input type="number" class="ffinput" id="t-yy" placeholder="YY" aria-describedby="MM-YY-error" 
											aria-label="Year" v-bind:aria-invalid="date.year.inputError" v-bind:ref="date.year.reef"
											v-on:focus="date.focused = date.year.reef" v-model="date.year.inputText">
											<span class="ffinput-aa"></span><span class="ffinput-ab"></span><span class="ffinput-ac"></span>
										</div>
									</label>
								</div>
								<p class="error" id="MM-YY-error" >{{ date.inputErrorMsgD }}</p>
							</div>

							<div class="CVC fields-wraper" v-bind:data-error="cvcNum.inputError">
								<label for="for-CVC" class="input-label">
									<p>CVC</p>
									<div class="ffinput-div">
										<input type="number" id="for-CVC" class="ffinput" placeholder="e.g. 123" aria-describedby="CVC-error"
										v-bind:aria-invalid="cvcNum.inputError" v-bind:ref="cvcNum.reef" v-model="cvcNum.inputText">
										<span class="ffinput-aa"></span><span class="ffinput-ab"></span><span class="ffinput-ac"></span>
									</div>
								</label>
								<p class="error" id="CVC-error" >{{ cvcNum.inputErrorMsgD }}</p>
							</div>

						</div>

						<button type="submit" class="sub-btn">Confirm</button>
					</form>
					<!-- <button  class="sub-btn" v-on:click="check">Check</button> -->
					<div class="success-message" v-else>
						<img src="./images/icon-complete.svg" class="suces-icon" alt="">
						<p class="suces-msg-prim">Thank you!</p>
						<p class="suces-msg-sec">We've added your card details</p>
						<button class="cont-btn" v-on:click="onContinue">Continue</button>
					</div>
					
				</div>
			</section>
			
		</main>
		<!-- <footer class="footer"></footer> -->
	</div>

	<!-- 0000 0000 0000 0000
	Jane Appleseed
	00/00

	000

	Cardholder Name
	e.g. Jane Appleseed

	Card Number
	e.g. 1234 5678 9123 0000

	Exp. Date (MM/YY)
	MM
	YY

	CVC
	e.g. 123

	Confirm

	Completed state start 

	Thank you!
	We've added your card details
	Continue

	<div class="attribution">
	Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
	Coded by <a href="#">Your Name Here</a>.
	</div> -->
	<script type="module" src="./static/Vueapp/app.js"></script>
</body>
</html>

