.error {
    display: none;
}

[data-error=false] > .error {
    display: block;
    color: var(--clr-prim-1);
    font-size: 14px;
}

/* .form-field-input {
    border-color: linear-gradient(to right, red , yellow);
} */


.ffinput-div:hover > .ffinput-aa, .ffinput:focus ~ .ffinput-aa {
    opacity: 0;
}
.ffinput-div:hover > .ffinput-ac, .ffinput:focus ~ .ffinput-ac {
    opacity: 1;
}